body {
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculator {
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 150%;
    /* filter: blur(5px); */
    /* border: 1px solid aquamarine; */
    background-color: transparent;
    margin: 15% 35%;
    padding: 2% 1%;
    filter: blur(15%);
}

input {
    width: 86%;
    background-color: white;
    margin: 1%;
    border-radius: 25px;
    padding: 2% 0;
    /* color: #fff; */
    font-size: 217%;
}

button {
    width: 20%;
    margin: 0.8%;
    height: 10%;
    font-size: 200%;
    border-radius: 25px;
}


#zero {
    width: 65%;
    margin: 0.8%;
}